<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main class="container">
        <div class="row">
            <h1 class="alert">Page not found!</h1>
            <p>The requested page could not be found.</p>
        </div>
        <a class="btn btn-primary" href="/">Return Home</a>
    </main>

<%- include('includes/end.ejs') %>